@import '../../styles/color.module.scss';

.starrating {
    display: flex;
    //flex-wrap: wrap;
    //justify-content: space-around;

    .startext{
       margin-top: -3px;
       color: $color7;
       margin-left: 5px;
    }

  }
  
  .star {
    cursor: pointer;
    width: 1em;
    height: 1em;
    background-color: grey;
    -webkit-clip-path: polygon(
      50% 0%,
      63% 38%,
      100% 38%,
      69% 59%,
      82% 100%,
      50% 75%,
      18% 100%,
      31% 59%,
      0% 38%,
      37% 38%
    );
    clip-path: polygon(
      50% 0%,
      63% 38%,
      100% 38%,
      69% 59%,
      82% 100%,
      50% 75%,
      18% 100%,
      31% 59%,
      0% 38%,
      37% 38%
    );

    &:hover{
        background-color: rgb(230, 38, 79);
    }
  }

  .star_selected{
        background-color: red;
        cursor: pointer;
        width: 1em;
        height: 1em;
        //background-color: grey;
        -webkit-clip-path: polygon(
          50% 0%,
          63% 38%,
          100% 38%,
          69% 59%,
          82% 100%,
          50% 75%,
          18% 100%,
          31% 59%,
          0% 38%,
          37% 38%
        );
        clip-path: polygon(
          50% 0%,
          63% 38%,
          100% 38%,
          69% 59%,
          82% 100%,
          50% 75%,
          18% 100%,
          31% 59%,
          0% 38%,
          37% 38%
        );
    }
  